button {
  border-radius: var(--full-border-radius);
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--blue-gray-600);
  font-size: inherit;
  transition: 0.2s all ease-in;
}

button:hover {
  opacity: 0.5;
}
