fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

legend {
  margin-bottom: 0.5rem;
}

.ships-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content);
  align-content: flex-start;
}

.ship-controls {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  gap: 24px;
}

.control-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.radio-group {
  display: flex;
  gap: 0.5rem;
}

.ship-option {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  gap: 1.5rem;
}

#addShipForm {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 1.5rem;
}

#addShipForm label {
  align-self: center;
}

.btn-add-ship {
  grid-column: 1 / 3;
}
